.link {
  position: absolute;
  display: block;
  right: 10px;
  top: 1vh;
  text-align: right;
}

div {
  font-size: 20px;
  margin-bottom: 10px;
}

.linkStyle {
  text-decoration: none;
  color: blue;
}
